In [ ]:
                                                         Data Types & Data Structures

In [ ]:
Everything in Python is an "object", including integers/floats
Most common and important types (classes)
"Single value": None, int, float, bool, str, complex
"Multiple values": list, tuple, set, dict

In [1]:
# Identifying Data Types
a = 42
b = 32.30
c = "Hello"
d = True
print(type(a))#gets type of a
print(type(b))#gets type of b
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [2]:
10==5

False

In [3]:
5==5

True

In [4]:
c=5.78
print(type(a))

<class 'int'>

In [ ]:
Data Structure: It is the way computer stores the data/information in it.

In [ ]:
                        Data Types: Lists

In [ ]:
Lists can be thought of as the most general version of a sequence in Python.
Lists are containers that store a set of values of any data type. 
Lists need not be homogeneous always which makes it the most powerful tool in Python.
The list can be represented by [ ]
The list allows duplicate elements
The list can be nested among all
A list can be created using the list() function
A list is mutable i.e. we can make any changes in the list.
List is ordered
    Ordered--Mutable-Heterogenous-- allows Duplicate values

In [8]:
# Assign a list to a variable named my_list
Tosko = [1,2,3]

In [9]:
print(Tosko[0])

1

In [11]:
# Printing out of-range value from the list
print(Tosko[3])

IndexError: list index out of range

In [12]:
Tosko

[1, 2, 3]

In [13]:
# Just like strings, the len() function will tell you how many items are in the sequence of the list.
len(Tosko)

3

In [ ]:
Task: 
#Create a list which includes a number, floating point, strings and character.

In [ ]:
sobo=["Priyanka", 27, 4.11, 'a']

In [ ]:
List Operators
.append: add element to end of list
.insert: insert element at given index
.extend: extend one list with another list

In [ ]:
Adding New Elements to a list

In [ ]:
Append=Adding new elements to the end of the list.

In [22]:
Dakota=[1,2,3,'Four','five']
print(Dakota)

[1, 2, 3, 'Four', 'five']

In [23]:
Dakota.append(10)

In [24]:
Dakota

[1, 2, 3, 'Four', 'five', 10]

In [25]:
# append a value to the end of the list
l = [1, 2.3, ['a', 'b'], 'New York']
l.append(3.1)
print(l)

[1, 2.3, ['a', 'b'], 'New York', 3.1]

In [69]:
a=[1,2,3]

In [70]:
a.append([5,6,7])

In [71]:
a

[1, 2, 3, [5, 6, 7]]

In [32]:
# # extend a list with another list. 
a.extend([5,6,7])

In [72]:
a

[1, 2, 3, [5, 6, 7]]

In [38]:
#append '5' to the list
a.append(5)
print(a)

[1, 2, 3, 5]

In [43]:
# extend a list with another list. 
a=[2,3,6]
a.extend([1,4,5])
print(a)

[2, 3, 6, 1, 4, 5]

In [73]:
# # Insert a name to the list
a.insert(3,"priyanka")

In [74]:
a

[1, 2, 3, 'priyanka', [5, 6, 7]]

In [ ]:
Slicing
Slicing is used to access individual elements or a rage of elements in a list.

Python supports "slicing" indexable sequences. The syntax for slicing lists is:

list_object[start:end:step] or
list_object[start:end]

start and end are indices (start inclusive, end exclusive). All slicing values are optional.

In [ ]:
a=[1,2,3,4,5,6,7,8,9,10]

In [45]:
for i in range(10):
   print(i)

0
1
2
3
4
5
6
7
8
9

In [51]:
a=list(range(10))
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [53]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [57]:
a[0:10:2]

[0, 2, 4, 6, 8]

In [58]:
a[0:10:3]

[0, 3, 6, 9]

In [59]:
a[2:10:3]

[2, 5, 8]

In [60]:
lst = list(range(10)) # create a list containing 10 numbers starting from 0 
print(lst)

print("elements from index 4 to 7:", lst[4:7])
print("alternate elements, starting at index 0:", lst[0::2]) # prints elements from index 0 till last index with a step of 2
print("every third element, starting at index 1:", lst[1::3]) # prints elements from index 1 till last index with a step of 3

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
elements from index 4 to 7: [4, 5, 6]
alternate elements, starting at index 0: [0, 2, 4, 6, 8]
every third element, starting at index 1: [1, 4, 7]

In [76]:
MINI Challange
Access the last element of l which is a list and find the last element of that list.

In [77]:
#print Last element of the list
l = [1, 2.3, ['a', 'b'], 'New York']

In [80]:
a=l[3]
print(a)

New York

In [81]:
a[-1]

'k'

In [ ]:
                                       Data Types: Dictionaries

In [ ]:
A Python dictionary consists of a key and then an associated value. That value can be almost any Python object.
A dictionary is also a non-homogeneous data structure that stores key-value pairs.
The dictionary can be represented by { }
The dictionary doesn’t allow duplicate keys.
Example: {1: “a”, 2: “b”, 3: “c”, 4: “d”, 5: “e”}
A dictionary can be created using the dict() function.
A dictionary is mutable, ut Keys are not duplicated.
Creating an empty dictionary d={}

In [ ]:
Constructing a Dictionary

In [104]:
# Make a dictionary with {} and : to signify a key and a value
my_dict = {'key1':'value1','key2':'value2'}

In [107]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [86]:
# Call values by their key
my_dict['key1']

'value1'

In [112]:
my_dict['key1']=144
my_dict

{'key1': 144, 'key2': 'value2'}

In [113]:
# # Set the object equal to itself minus 123 
my_dict['key1'] += 123
my_dict['key1']

267

In [88]:
my_dict['key2']=145
my_dict

{'key1': 144, 'key2': 145}

In [90]:
my_dict['key2']-147

-2

In [114]:
my_dict={'name':"priyanka pal", 'place':"bangalore", 'age':27}
my_dict['name']

'priyanka pal'

In [116]:
my_dict['country']="India"
my_dict

{'name': 'priyanka pal', 'place': 'bangalore', 'age': 27, 'country': 'India'}

In [ ]:
MINI Challange
Create an empty dict. Create a new key called animal and assign a value 'Dog' to it.

In [117]:
# Create a new dictionary
d={}

In [118]:
# Create a new key through assignment
d['Animal']="Dog"

In [119]:
# Check
d

{'Animal': 'Dog'}

In [121]:
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [14]:
list=["priyanka","umesh","rakesh"]
new_list=[]
for list in list:
   new_list.append("Hello"+" "+ list)

In [15]:
new_list

['Hello priyanka', 'Hello umesh', 'Hello rakesh']

In [ ]:
       Data Types: Set and Booleans

In [ ]:
Sets are an unordered collection of unique elements. We can construct them by using the set() function. 
The set data structure is also a non-homogeneous data structure but stores the elements in a single row.
The set can be represented by { }
The Set will not allow duplicate elements
A setA dictionary can be created using the set() function
A set is mutable i.e we can make any changes in the set, ut elements are not duplicated.
Set is unordered

In [24]:
a={1,1,1,1,1,2,2,2,2,3,3,3,3}

In [25]:
a

{1, 2, 3}

In [33]:
# We add to sets with the add() method
x=set()
x.add(3)
x.add(9)
print(x)

{9, 3}

In [34]:
x

{3, 9}

In [35]:
# Try to add the same element
x.add(3)

In [36]:
x

{3, 9}

In [38]:
# We can cast a list with multiple repeat elements to a set to get the unique elements. For example:

# Create a list with repeats
p = [1,1,2,2,3,4,5,6,1,1]
# Cast as set to get unique values
set(p)

{1, 2, 3, 4, 5, 6}

In [ ]:
 Data Types: Tuples

In [ ]:
Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

A tuple is immutable i.e. we can not make any changes in the tuple.
    
Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has an index [0], the second item has an index [1] etc.

In [43]:
fruits = ("apple", "banana", "cherry")
print(fruits)

('apple', 'banana', 'cherry')

In [40]:
fruits = ("apple", "banana", "cherry")
print(type(fruits))

<class 'tuple'>

In [42]:
fruits = ("apple", "banana", "cherry")
print(fruits[2])

cherry